/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body
{
    height: 100%;
}

.mat-toolbar.mat-primary {
  background: #1f197046;
  height: 20%;
}

.menuLateral {
  background: #1f197046;
  position: absolute;
  flex: 1 0 auto;
  width: 200px;
  text-align: center;
  line-height: 3;
}

.containerPage {
  height: 80%;
}

.mainPage {
  background-color: white;
  text-align: center;
  line-height: 3;
}
